<div class="flex items-center justify-center h-[550px]">
  <div class="bg-gray-300 w-96 h-72">
    <div class="px-6 py-4">
      <p class="text-lg font-bold text-center">Login</p>
      <div class="pt-3">
        <form (ngSubmit)="submit()">
          <div class="flex flex-col space-y-3">
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Email
              </label>
              <input
                type="text"
                id="email"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                [(ngModel)]="data.email"
                [ngModelOptions]="{ standalone: true }"
                #email="ngModel"
              />
            </div>

            <div>
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Password
              </label>
              <input
                type="password"
                id="password"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                [(ngModel)]="data.password"
                [ngModelOptions]="{ standalone: true }"
                #password="ngModel"
              />
            </div>
          </div>

          <div class="flex justify-end pt-3">
            <button class="bg-blue-500 px-2 py-2 rounded-lg">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
