<ng-container [formGroup]="stepForm">
  <div class="px-6 py-3">
    <div class="flex flex-col space-y-3">
      <div>
        <label
          for="firstname"
          class="block mb-2 text-sm font-medium text-gray-900"
        >
          First Name<span class="text-red-700">*</span>
        </label>
        <input
          type="text"
          id="firstname"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 required"
          formControlName="firstname"
          [ngClass]="{
            'border-red-600 focus:ring-red-600 focus:border-red-600':
              stepForm.controls['firstname'].invalid &&
              stepForm.controls['firstname'].touched
          }"
        />
        <div
          *ngIf="
            stepForm.controls['firstname'].invalid &&
            stepForm.controls['firstname'].touched
          "
        >
          <div
            *ngIf="stepForm.controls['firstname'].errors?.['required']"
            class="text-red-700"
          >
            Firstname is required
          </div>
        </div>
      </div>

      <div>
        <label
          for="lastname"
          class="block mb-2 text-sm font-medium text-gray-900"
        >
          Last Name<span class="text-red-700">*</span>
        </label>
        <input
          type="text"
          id="lastname"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          formControlName="lastname"
          [ngClass]="{
            'border-red-600 focus:ring-red-600 focus:border-red-600':
              stepForm.controls['lastname'].invalid &&
              stepForm.controls['lastname'].touched
          }"
        />
        <div
          *ngIf="
            stepForm.controls['lastname'].invalid &&
            stepForm.controls['lastname'].touched
          "
        >
          <div
            *ngIf="stepForm.controls['lastname'].errors?.['required']"
            class="text-red-700"
          >
            Lastname is required
          </div>
        </div>
      </div>

      <div>
        <label for="role" class="block mb-2 text-sm font-medium text-gray-900">
          Role<span class="text-red-700">*</span>
        </label>
        <select
          formControlName="role"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option [ngValue]="null" disabled>Select Role</option>
          <option *ngFor="let role of roleData" [ngValue]="role.desc">
            {{ role.name }}
          </option>
        </select>

        <div
          *ngIf="
            stepForm.controls['role'].invalid &&
            stepForm.controls['role'].touched
          "
        >
          <div
            *ngIf="stepForm.controls['role'].errors?.['required']"
            class="text-red-700"
          >
            Role is required
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
